*{
    box-sizing: border-box;
    margin: 0;
    
 
    
}

.container{
    width: 80%;
    margin: auto;
}

.banner{
    height: 10%;
    background-image: url(/img/pattern.png);
    background-size: cover;
    background-color:rgb(54, 171, 218);
    background-size:200px ;
}

.logo{
    width:20% ;
    

}

.logo-img{
    width: 60%;
    padding-top: 10%;  
    padding-left: 2%;
}

.testata {
  
    font-size:25px ;
    color: lightslategray;
}

h1{
    color: black;
}

.turchese{
    color: rgb(64, 205, 224);
    font-weight:500;
    
}

.little{
    font-size: 20px;
    margin-bottom: 20px;
}

.tim-pics{
font-weight: 500;}

#primo-par{
    text-align:justify;
    margin-top: 20px;
}

#elenco {
    text-align:justify;
    margin-top: 20px;
    padding-left: 20px;
}
.yellow{
    background-color: yellow;
    }

.tbl{
    margin-top: 30px;
    

}

thead{background-color: dodgerblue  ;
height: 5px;}

tbody tr:nth-child(even) {background: #f5f5f5}
tbody tr:nth-child(odd) {background-color: turquoise;}
table td:nth-child(even) {text-align: center;}


.small{
    width: 25%;
}
.big{
    width: 33%;
}