*{
    box-sizing: border-box;
    margin: 0;
    
 
    
}

.container{
    width: 80%;
    margin: auto;
}

.banner{
    height: 10%;
    background-image: url(/img/pattern.png);
    background-size: cover;
    background-color:rgb(54, 171, 218);
    background-size:200px ;
}

.logo{
    width:20% ;
    

}

.logo-img{
    width: 60%;
    padding-top: 10%;  
    padding-left: 2%;
}

.testata {
  
    font-size:25px ;
    color: lightslategray;
}

h1{
    color: black;
}

.turchese{
    color: rgb(64, 205, 224);
    font-weight:500;
    
}

.little{
    font-size: 20px;
    margin-bottom: 20px;
}

.tim-pics{
font-weight: 500;}

#primo-par{
    text-align:justify;
    margin-top: 20px;
}

#second-par{
    text-align: justify;
    margin-top: 20px;
}

#elenco {
    text-align:justify;
    margin-top: 20px;
    padding-left: 20px;
}
.yellow{
    background-color: yellow;
    }


/* to delete the white space between the columns and rows */
table{
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0px 1px;
}

thead{background-color: dodgerblue  ;
height: 5px;}

tbody tr:nth-child(even) {background: #f5f5f5}
tbody tr:nth-child(odd) {background-color: #AFEEEE}
table td:nth-child(even) {text-align: center;}


.small{
    width: 25%;
}
.big{
    width: 33%;
}



.link-section{
    margin-top: 20px;
    margin-bottom: 100px;
}

.grey{
    color:lightslategray;
}

.img1{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    background-image: url(/img/monitor.jpg);
}


.img2{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
  
    background-image: url(/img/graph.jpg);
}

a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
